.hero {
  min-height: 90vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  display: flex;
  align-items: center;
}

.hero-overlay {
  width: 100%;
  min-height: 90vh;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 15%,
    rgba(0, 0, 0, 0.65) 45%,
    rgba(0, 0, 0, 0.25) 100%
  );

  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 700px;
  margin-left: 8%;
}

.hero-tag {
  display: inline-block;
  background: rgba(255, 59, 48, 0.15);
  color: #ff3b30;

  padding: 10px 18px;
  border-radius: 50px;

  font-size: 14px;
  font-weight: 600;

  margin-bottom: 20px;
}

.hero-content h1 {
  color: white;
  font-size: 5rem;
  line-height: 1.05;
  font-weight: 800;
}

.hero-desc {
  position: static;
  color: #d0d0d0;
  font-size: 1.1rem;
  line-height: 1.7;
  margin-top: 20px;
  max-width: 550px;
  padding: 0;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.primary-btn {
  background: #ff3b30;
  color: white;

  border: none;
  padding: 14px 28px;

  border-radius: 40px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #e42d23;
  transform: translateY(-2px);
}

.secondary-btn {
  background: transparent;
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.4);

  padding: 14px 28px;
  border-radius: 40px;

  cursor: pointer;
  transition: 0.3s;
}

.secondary-btn:hover {
  border-color: #ff3b30;
  color: #ff3b30;
}

.hero-stats {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.hero-stats h3 {
  color: #ff3b30;
  font-size: 2rem;
  margin-bottom: 5px;
}

.hero-stats span {
  color: #bdbdbd;
}

/* Tablet */

@media (max-width: 992px) {
  .hero-content h1 {
    font-size: 4rem;
  }

  .hero-stats {
    gap: 30px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .hero-content {
    margin: 0 20px;
  }

  .hero-content h1 {
    font-size: 2.8rem;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .hero-stats {
    flex-wrap: wrap;
    gap: 20px;
  }
}