.seat-movie-card{
    display:flex;
    align-items:center;
    gap:30px;

    background:#0f172a;
    color:white;

    padding:25px;
    border-radius:20px;

    margin:30px;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.seat-poster img{
    width:180px;
    height:260px;
    object-fit:cover;
    border-radius:15px;
}

.seat-movie-info{
    flex:1;
}

.seat-movie-info h1{
    font-size:3rem;
    margin-bottom:10px;
    color:#ff4d4d;
}

.seat-rating{
    font-size:1.5rem;
    color:gold;
    font-weight:bold;
    margin-bottom:15px;
}

.seat-tags{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.seat-tags span{
    background:#1e293b;
    padding:8px 15px;
    border-radius:8px;
    font-weight:600;
}

.seat-description{
    color:#d1d5db;
    line-height:1.8;
    max-width:600px;
    margin-bottom:25px;
}

.movie-meta{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.movie-meta h4{
    color:#94a3b8;
    margin-bottom:8px;
}

.movie-meta p{
    font-weight:500;
}

/* .book-btn-container{
    align-self:flex-end;
}

.seat-book-btn{
    background:#ef4444;
    color:white;

    border:none;
    padding:14px 35px;

    border-radius:10px;
    font-size:1rem;
    font-weight:bold;

    cursor:pointer;
}

.seat-book-btn:hover{
    background:#dc2626;
} */