.movie-grid{
    display: flex;
    height: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    grid-template-columns: 
    repeat(auto-fit,minmax(200px,1fr));
    min-width: 250px;
    flex-shrink: 0; 
    margin: 1rem;
    gap: 1rem;
}

.movie-grid::-webkit-scrollbar{
    display:none;
}
